## Read tabular data from a CSV

We're going to use the [City of Philadelphia's employee salary dataset](https://www.opendataphilly.org/dataset/employee-salaries-overtime) to explore `pandas`


In this case the CSV path happens to be [a URL coming from Philly's open data portal](https://phl.carto.com/api/v2/sql?filename=employee_earnings&format=csv&skipfields=cartodb_id,the_geom,the_geom_webmercator&q=SELECT%20*%20FROM%20employee_earnings), although a regular filepath would also work: `C:\Users\yourname\Desktop\some_file.csv`

In [1]:
import pandas as pd

data_url = "https://phl.carto.com/api/v2/sql?filename=employee_earnings&format=csv&skipfields=cartodb_id,the_geom,the_geom_webmercator&q=SELECT%20*%20FROM%20employee_earnings"

In [6]:
raw_df = pd.read_csv(data_url)

## Explore the dataframe

`df.dtypes` will show you the column names and the type of data contained within each column

In [7]:
raw_df.dtypes

calendar_year                      int64
quarter                            int64
last_name                         object
first_name                        object
title                             object
job_code                          object
department_name                   object
department_number                  int64
base_salary                      float64
salary_type                       object
overtime_gross_pay_qtd           float64
base_gross_pay_qtd               float64
longevity_gross_pay_qtd          float64
post_separation_gross_pay_qtd    float64
miscellaneous_gross_pay_qtd      float64
employee_category                 object
compulsory_union_code             object
termination_month                float64
termination_year                 float64
dtype: object

You can also operate on a single column if needed using square brackets. The code below selects all values in the `department_name` column and reduces it to only the unique entries.

In [25]:
raw_df["department_name"].unique()

array(['OIT Ofc of Innovation and Tech',
       'COM Commerce - Division of Aviation',
       'OPA Ofc of Property Assessment', 'DHS Dept of Human Services',
       'PWD Water', 'FJD 1st Judicial District PA', 'PPS Prisons',
       'PPD Police', 'MAP Mural Arts Program',
       'OSH Ofc of Homeless Services', 'PPR Parks and Recreation',
       'DPH Health', 'LNI Licenses and Inspections', 'REC Records',
       'PFD Fire', 'MDO Managing Director Office', 'STS Streets',
       'PCC City Council', 'DAO District Attorney',
       'CEO Community Empowerment Ofc', 'OHR Office of Human Resources',
       'OFM Fleet Management', 'LAW Law Dept', 'REV Revenue', 'MAY Mayor',
       'FLP Free Library of Phila', 'BPR Board of Pensions Retiremt',
       'DPP Public Property', 'CMS City Commissioners', 'SHF Sheriff',
       'CLR City Controller', 'DBH Behav Hlth ID Svcs',
       'ROW Register of Wills', 'REP City Representative',
       'CAO Ofc of Chief Admin Officer', 'FIN Finance',
       'OLR Office of Labor', 'CHR Phila Comsn on Hum Relatns',
       'DPD Planning and Development', 'LRB L and I Review Board',
       'PRO Procurement', 'BOE Board of Ethics',
       'MOS Office of Sustainability', 'COM Commerce',
       'OIG Ofc of Inspector General', 'OAC Ofc Arts Culture Creativ E',
       'MOE Mayors Office of Education', 'CSC Civil Service Commission',
       'BRT Board of Revision of Taxes', 'CTO City Treasurer',
       'CPC City Planning Commission', 'BBS Board of Buildng Standards'],
      dtype=object)

## Analyze the data

Let's filter the dataset to all employees in city council, and then summarize by calculating the average salary for each job title.

In [22]:
df = raw_df.copy()

df = df[df["department_name"] == "PCC City Council"]

df = df[["title", "base_salary"]]

df.head()

                     title  base_salary
52          Chief Of Staff      97850.0
59   Legislative Assistant      40000.0
91          Chief Of Staff     108150.0
179   Legislative Director     100476.0
343                 Intern          NaN

In [50]:
summary = df.groupby(["title"]).agg(['count','mean']).sort_values([("base_salary", "mean")], ascending=False)

for idx, row in summary.iterrows():
    salary_formatted_like_money = "${:,.2f}". format(row[("base_salary", "mean")])
    sample_size = row[("base_salary", "count")]

    print(idx, "\n\t-->", salary_formatted_like_money, "\t n=", sample_size)

President Of City Council
	--> $168,622.29 	 n= 7.0
Senior Legislative Counsel
	--> $155,285.71 	 n= 7.0
Senior Legislative Advisor
	--> $149,210.00 	 n= 7.0
Majority Leader
	--> $143,946.00 	 n= 7.0
Majority Whip
	--> $141,204.14 	 n= 7.0
Exec Dir Housing & Community Dev
	--> $140,996.00 	 n= 7.0
Minority Leader
	--> $139,945.00 	 n= 3.0
Chief Financial Officer
	--> $138,287.50 	 n= 8.0
Majority Deputy Whip
	--> $136,938.75 	 n= 8.0
Minority Whip
	--> $135,869.00 	 n= 3.0
Councilmember
	--> $134,404.38 	 n= 87.0
Chief Operating Officer
	--> $132,594.50 	 n= 8.0
Director Of Administrative Services
	--> $128,685.00 	 n= 7.0
Senior Policy Advisor
	--> $119,395.45 	 n= 11.0
Chief Clerk
	--> $114,376.43 	 n= 7.0
Chief Ethics Officer
	--> $111,450.00 	 n= 7.0
Chief Of Staff
	--> $103,149.12 	 n= 84.0
Legistar System Admin
	--> $98,112.00 	 n= 4.0
Legislative Director
	--> $97,721.20 	 n= 10.0
Director Of Special Projects
	--> $92,700.00 	 n= 7.0
Digital Media Director
	--> $91,428.57 	 n= 7.0
Director Of Policy
	--> $89,444.44 	 n= 18.0
City Council Administrative Services Coordinator
	--> $86,425.00 	 n= 8.0
Senior Advisor To Councilmember
	--> $85,490.00 	 n= 3.0
Staff Attorney
	--> $85,000.00 	 n= 7.0
Director Of Human Resources
	--> $85,000.00 	 n= 4.0
Director Of Legislation
	--> $84,180.00 	 n= 26.0
Asst Legistar System Admin
	--> $82,400.00 	 n= 7.0
Director Of Urban Policy & Int'L Affairs
	--> $82,340.00 	 n= 3.0
Housing Director
	--> $80,167.00 	 n= 3.0
Executive Assistant
	--> $80,018.94 	 n= 23.0
Project Manager
	--> $79,965.00 	 n= 10.0
Legislative Counsel
	--> $77,964.71 	 n= 17.0
Deputy Chief Financial Officer
	--> $77,500.00 	 n= 3.0
Director Of Veterans Advisory Commission
	--> $75,000.00 	 n= 7.0
Deputy Chief Of Staff
	--> $74,125.81 	 n= 31.0
Office Manager
	--> $73,740.40 	 n= 30.0
Director Of Community And Economic Development
	--> $69,985.71 	 n= 7.0
Chief Legal Housing And Zoning Counsel
	--> $69,285.71 	 n= 7.0
Director of Policy and Communications
	--> $68,000.00 	 n= 1.0
Geographic Information Systems Analyst
	--> $67,651.43 	 n= 7.0
Director Of Communications
	--> $67,641.08 	 n= 37.0
Director Of Constituent Services
	--> $67,531.84 	 n= 47.0
Director Of Research And Communications
	--> $66,329.38 	 n= 8.0
Director Of Community Development
	--> $66,240.00 	 n= 5.0
Legislative Aide
	--> $66,172.61 	 n= 63.0
Office Manager/Director Of Constituent Service
	--> $65,662.50 	 n= 3.0
Research Analyst
	--> $64,008.67 	 n= 7.0
Office Manager/Constituent Service Rep
	--> $60,747.93 	 n= 7.0
Veterans Coordinator
	--> $59,516.36 	 n= 14.0
Financial Policy Analyst
	--> $58,777.28 	 n= 11.0
Chief Constituent Services Representative
	--> $57,783.00 	 n= 3.0
Director Of Community Relations
	--> $57,400.00 	 n= 6.0
Communications Liaison
	--> $57,034.97 	 n= 12.0
Legislative Policy Advisor
	--> $56,250.00 	 n= 4.0
Special Events Coordinator
	--> $55,944.99 	 n= 14.0
Communications Director
	--> $55,411.88 	 n= 16.0
Communications Manager
	--> $55,000.00 	 n= 4.0
City Council Administrative Assistant
	--> $54,554.85 	 n= 100.0
Constituent Services Liaison
	--> $51,588.38 	 n= 26.0
Sergeant-At-Arms
	--> $51,367.55 	 n= 11.0
Scheduler
	--> $51,359.46 	 n= 7.0
Graphic Design And Art Director
	--> $51,285.71 	 n= 7.0
Special Assistant
	--> $51,186.59 	 n= 28.0
Chief Office Administrator
	--> $51,159.86 	 n= 7.0
Legislative Assistant
	--> $50,929.05 	 n= 35.0
Community Relations Liaison
	--> $49,933.73 	 n= 12.0
Special Assistant to City Council
	--> $48,959.57 	 n= 31.0
Office Assistant
	--> $48,692.09 	 n= 13.0
Community Liaison
	--> $47,712.61 	 n= 21.0
Administrative Aide
	--> $47,136.13 	 n= 57.0
City Council Receptionist
	--> $47,094.00 	 n= 1.0
Special Projects Liaison
	--> $46,911.43 	 n= 7.0
Custodial Supervisor
	--> $46,423.83 	 n= 7.0
Constituent Serv Rep
	--> $45,750.70 	 n= 232.0
Constituent Services Aide
	--> $43,841.64 	 n= 6.0
Deputy Sergeant-At Arms
	--> $43,593.63 	 n= 7.0
Council Photographer Video Media Aide
	--> $42,448.58 	 n= 7.0
Zoning/Constituent Services Rep
	--> $41,666.67 	 n= 6.0
Administrative Assistant
	--> $41,138.46 	 n= 13.0
Director Of Community Affairs
	--> $41,028.57 	 n= 7.0
Community Outreach Coordinator
	--> $40,898.35 	 n= 23.0
Asst Sergeant-At-Arms Messenger Maint
	--> $36,672.29 	 n= 7.0
Community Services Rep
	--> $27,604.57 	 n= 7.0
Cleaner
	--> $27,530.42 	 n= 27.0
City Council Fellow
	--> $nan 	 n= 0.0
Intern
	--> $nan 	 n= 0.0
Summer Intern
	--> $nan 	 n= 0.0

## Explore additional aspects of the data

Looks like there's 7 entries for `President Of City Council`, when you'd expect there to only be one.

Let's filter the raw dataframe to this job title and inspect the rows. Looks like there's one entry per quarter, starting Q2 2019 through Q4 2020.

In [39]:
raw_df[raw_df["title"] == "President Of City Council"]

,calendar_year,quarter,last_name,first_name,title,job_code,department_name,department_number,base_salary,salary_type,overtime_gross_pay_qtd,base_gross_pay_qtd,longevity_gross_pay_qtd,post_separation_gross_pay_qtd,miscellaneous_gross_pay_qtd,employee_category,compulsory_union_code,termination_month,termination_year
25728,2019,2,Clarke,Darrell,President Of City Council,P400,PCC City Council,1,167118.0,Salaried,NaN,37846.62,NaN,NaN,0.0,Exempt,L,NaN,NaN
39004,2019,3,Clarke,Darrell,President Of City Council,P400,PCC City Council,1,167118.0,Salaried,NaN,44698.92,NaN,NaN,0.0,Exempt,L,NaN,NaN
93421,2019,4,Clarke,Darrell,President Of City Council,P400,PCC City Council,1,167118.0,Salaried,NaN,38271.30,NaN,NaN,0.0,Exempt,L,NaN,NaN
101776,2020,1,Clarke,Darrell,President Of City Council,P400,PCC City Council,1,167118.0,Salaried,NaN,44649.85,NaN,NaN,0.0,Exempt,L,NaN,NaN
126516,2020,2,Clarke,Darrell,President Of City Council,P400,PCC City Council,1,170628.0,Salaried,NaN,38271.30,NaN,NaN,0.0,Exempt,L,NaN,NaN
174904,2020,3,Clarke,Darrell,President Of City Council,P400,PCC City Council,1,170628.0,Salaried,NaN,45603.43,NaN,NaN,0.0,Exempt,L,NaN,NaN
197800,2020,4,Clarke,Darrell,President Of City Council,P400,PCC City Council,1,170628.0,Salaried,NaN,45762.36,NaN,NaN,0.0,Exempt,L,NaN,NaN